# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# GE uncommitted
great_expectations/uncommitted/

# Airflow
airflow/logs/
*.db

# Coverage
.coverage
coverage.xml
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.pid*
.coverage*
